@import '../__vars.scss';

#button-component {
    margin: 3px;

    @media (max-width: 768px) {
        margin: 1px;
    }
}

.primary_button {
    background-color: $button-primary-color;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: $button-primary-hover-color;
        color: $text-primary-hover-color;
    }
}

.secondary_button {
    background-color: $button-secondary-color;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: $button-secondary-hover-color;
        color: $text-secondary-hover-color;
    }
}

.size_button {
    border-radius: 20px;
    width: 160px;
    height: 43px;
    font-size: 20px;
    cursor: pointer;

    @media (max-width: 768px) {
        width: 92px;
        font-size: 16px;
    }
}
