@import '../_vars';

//STYLE FOR LOGIN-PAGE
.input-component-login {
    input {
        border: none;
        text-align: center;
        padding: 7px;
        border-radius: $border-radius-input;
        outline: none;

        @media (max-width: 768px) {
            width: 80px;
            height: 1.5em;
        }
    }
}

//STYLE FOR SEQUENCE-PAGE
.input-component-sequence {
    input {
        border: none;
        padding: 7px;
        border-radius: $border-radius-input;
        outline: none;

        @media (max-width: 768px) {
            width: 60px;
        }
        @media (min-width: 769px) and (max-width: 1440px) {
            width: 70px;
        }
    }
}
