@import '../_vars';

//STYLE FOR LOGIN-PAGE
.input-component-login {
    border: none;
    background-color: white;
    padding: 10px;
    border-radius: $border-radius-input;
    color: black;

    input {
        border: none;
        border-radius: $border-radius-input;
        padding: 0;
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        outline: none;
    }
}

//STYLE FOR SEQUENCE-PAGE
.input-component-sequence {
    input {
        border: none;
        padding: 7px;
        border-radius: $border-radius-input;
        outline: none;

        @media (max-width: 768px) {
            width: 60px;
        }
        @media (min-width: 769px) and (max-width: 1440px) {
            width: 70px;
        }
    }
}
