@import '../_vars';

.square-component {
    background-color: $button-primary-color;
    height: 100%;
    border-radius: $border-radius-square;
    display: flex;
    flex-direction: column;
    align-items: center;

    #login-logo {
        width: 50px;
        height: 50px;
    }

    @media (max-width: 768px) {
        width: 250px;
        padding: 20px;
    }

    @media (min-width: 769px) and (max-width: 1440px) {
        width: 400px;
        padding: 20px;
    }

    @media (min-width: 1440px) {
        width: 650px;
    }
}

.square-tablet-sequence {
    display: flex;
    align-items: center;
    background-color: $button-primary-color;
    border-radius: $border-radius-square;

    @media (max-width: 768px) {
        width: 290px;
        height: 340px;
        padding: 10px;
    }

    @media (min-width: 768px) {
        width: 700px;
        height: 200px;
        padding: 20px;
    }
}

.square-tablet-result {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $button-primary-color;
    border-radius: $border-radius-square;

    @media (max-width: 768px) {
        width: 260px;
        height: 200px;
        padding: 10px;
    }

    @media (min-width: 768px) {
        width: 700px;
        height: 200px;
        padding: 20px;
    }
}

.square-tablet-board {
    @media (max-width: 425px) {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 480px;
    }

    @media (min-width: 426px) {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 380px;
    }

    &-introduction {
        background-color: $button-primary-color;
        border-radius: $border-radius-square;
        width: 80%;
        padding: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &-belt {
        background-color: $button-primary-color;
        border-radius: $border-radius-square;
        width: 80%;
        padding: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
