@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

// Font-family
$font-family: 'Bree Serif', system-ui, sans-serif;

// Colors
$background-color: #f0f1f1;
$button-primary-color: #ffac8d;
$button-primary-hover-color: #ff723e;
$button-secondary-color: #f0f0f0;
$button-secondary-hover-color: #000000;
$text-primary-hover-color: #f0f0f0;
$text-secondary-hover-color: #f0f0f0;

// Border-radius

$border-radius-square: 10px;
$border-radius-button: 100px;
